<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cbURL" value="https://cbr.ru/DailyInfoWebServ/DailyInfo.asmx"/>
    <add key="resultsFilename" value="results.txt"/>
    <add key="serializeNeeded" value="true"/>
    <add key="timerIntervalHours" value="1"/>
  </appSettings>
</configuration>